body{
    display: grid;
    grid-template-areas: 
        "cabe cabe"
        "brac corp"
        "pern pern";
    grid-template-columns: 300px auto;
    grid-template-rows: 50px 1000px 300px;
}
header{
    grid-area: cabe;
    background-color: #fff3e2;
}
aside{
    grid-area: brac;
    background-color: #fff3e2;
    position: sticky;

    
}

footer{
    grid-area: pern;
    background-color: blue;
}
  
