main{
    
}

.container_mae{
    background-color: rgb(205, 205, 236);
    /* height: 300px; */
    /* width: 300px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    /* border: red solid 2px; */
    background-color: rgb(255, 255, 255);
    height: auto;
    width: 300px;
    margin: 10px;
    padding: 10px;
    color: black;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
}

.card:hover{
    box-shadow: inset 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.botao{
    border: 2px orangered solid;
    border-radius: 5px;
    width: 200px;
    color: orangered;
    font-size: large;
    
}
/* muda cor do botao e do texto */
.botao:hover{
    color: white;
    background-color: orangered;
}
a{
    text-decoration: none;
}
.item_venda{
    height: 180px;

}