body{
    display: grid;
    grid-template-areas: 
        "cabe cabe"
        "brac corp"
        "pern pern";
        grid-template-columns: 250px auto;
        grid-template-rows: 80px auto 50px;
}
header{
    grid-area: cabe;
    background-color: #fff3e2;
    text-align: center;
}
aside{
    grid-area: brac;
    background-color: #fff3e2;
}

main{
    grid-area: corp;
    min-height: 800px;
    background-color: #bb2636;
}

footer {
    grid-area: pern;
    background-color: #fff3e2;
    height: 300px;
}

body {
    font-family: Serif bold Impact, 'Arial Narrow Bold', sans-serif, Helvetica, sans-serif;
    margin: 0px;
}

a {
    text-decoration: none;
}
nav {
    background-color: #fff3e2;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
}

nav a {
    color: rgb(0, 0, 0);
    font-size: 25px;
    display: block;
    padding: 12px 10px 12px 32px;
}

nav a:hover {
    color: black;
    background-color: #f6ddb9;
}

.container_mae{
    background-color: #bb2636;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    background-color: rgb(255, 255, 255);
    height: auto;
    width: 300px;
    margin: 10px;
    padding: 10px;
    color: rgb(20, 19, 19);
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    transition: transform 0.3s ease;
}
.card:hover{
    transform: scale(1.05);
}
.item_venda{
    height: 180px;
}
.botao{
  display: inline-block;
  padding: 1px 8px;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
  transition: transform 0.3s ease; 
  background-color: #019247;
  list-style-type: none;
  color: #fff3e2;
}
.botao:hover{
    transform: scale(1.05);
}
.logo{
    height: 250px;
    width: auto;
}
.registro {
  background: #fff3e2; 
  padding: 30px;
  border-radius: 15px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  text-align: center;
  max-width: 400px; 
  margin: 195px auto; 
}
.registro h1 {
  font-size: 2rem; 
  margin-bottom: 1.5rem;
  color: #019247;
  font-family: Serif bold Impact, 'Arial Narrow Bold', sans-serif, Helvetica, sans-serif;
}

.formulario {
  margin-bottom: 21px; 
  text-align: left;
}

.formulario label {
  display: block; 
  font-weight: bold; 
  margin-bottom: 0.5rem; 
}

.formulario input {
  width: 100%; 
  padding: 0.8rem; 
  border: 1px solid #ddd; 
  border-radius: 5px;
  font-size: 1rem; 
  box-sizing: border-box; 
}

.formulario input:focus {
  border-color: #019247; 
  outline: none; 
  box-shadow: 0 0 5px rgba(0, 126, 0, 0.5);
}

.finalizado {
  width: 100%; 
  padding: 10px; 
  background: #019247; 
  color: #fff; 
  font-size: 16px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  transition: transform 0.3s ease; 
}

.finalizado:hover {
  background: #007237;
}

label {
  display: block; 
  font-weight: bold; 
  margin-bottom: 8px; 
}
input {
  width: 100%; 
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc; 
  border-radius: 4px;
}
.rodape{
    margin-top: 20px;
    text-align: center;
    font-size: large;
}
.botao2{
  display: inline-block;
  padding: 9px 4px;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
  transition: transform 0.3s ease; 
  background-color: #019247;
  list-style-type: none;
  color: #fff3e2;
}
.botao2:hover{
    transform: scale(1.05);
}
.card2{
    background-color: rgb(255, 255, 255);
    height: 280px;
    width: 550px;
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    color: rgb(20, 19, 19);
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    text-align: justify;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: right;
    transition: transform 0.3s ease;
    font-size: larger;
}
.foto_produto{
    height: auto;
    width: 150px;
    margin: auto;
    padding: auto;
    flex-direction: left;
}
.card3{
    background-color: rgb(255, 255, 255);
    height: auto;
    width: auto;
    margin-top: 200px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 10px;
    padding-right: 20px;
    color: rgb(20, 19, 19);
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    text-align: justify;
    display: flex;
    align-items: right;
    flex-direction: right;
    transition: transform 0.3s ease;
    font-size: larger;
}
.fotografia{
    height: auto;
    width: 250px;
    margin: 10px;
    padding: auto;
    flex-direction: left;
    border-radius: 5px;
}
.card4{
    background-color: rgb(255, 255, 255);
    height: 250px;
    width: 250px;
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    color: rgb(20, 19, 19);
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    text-align: justify;
    display: flex;
    align-items: right;
    flex-direction: right;
    transition: transform 0.3s ease;
}
.qr_code{
    height: 250px;
    width: 250px;
    margin: 10px;
    padding: auto;
    flex-direction: center;
    border-radius: 5px;
}
.carrinho{
    height: 40px;
    width: auto;
    margin-left: 0px;
}
.produto{
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  font-size: larger;
}
.btn-adicionar {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: not-allowed; /* visual apenas */
  border-radius: 4px;
  font-weight: bold;
}
.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.carrinho-de-compras{
  margin-top: 30px;
  padding: 20px;
  border: 2px dashed #aaa;
  background: #f4f4f4;
}
.carrinho-de-compras h2 {
  margin-top: 0;
}
.mensagem {
  color: #888;
  font-size: large;
}
.botao3 {
  display: inline-block;       
  background-color: #019247;    
  color: white;                
  padding: 1px 8px;          
  text-decoration: none;        
  border-radius: 5px;           
  transition: transform 0.3s ease;
  cursor: pointer;
  margin-left: 20px;
}
.botao3:hover{
    transform: scale(1.05);
}